openapi: 3.0.3
info:
  title: Rntor API
  description: REST API for programmatic access to your coworking and space management data
  version: 1.0.0
  contact:
    email: support@rntor.com
    url: https://app.rntor.com
servers:
  - url: https://api.rntor.com/v1
    description: Production server

security:
  - bearerAuth: []
    clientId: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Your API client secret
    clientId:
      type: apiKey
      in: header
      name: X-Client-ID
      description: Your API client ID

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: not_found
            message:
              type: string
              example: Resource not found
        meta:
          type: object
          properties:
            request_id:
              type: string
              example: req_abc123def456

    Pagination:
      type: object
      properties:
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20
        total:
          type: integer
          example: 150
        total_pages:
          type: integer
          example: 8
        has_more:
          type: boolean
          example: true

    Meta:
      type: object
      properties:
        request_id:
          type: string
          example: req_abc123def456
        timestamp:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"

  parameters:
    PageParam:
      name: page
      in: query
      description: Page number
      schema:
        type: integer
        default: 1
        minimum: 1
    PerPageParam:
      name: per_page
      in: query
      description: Items per page
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100

paths:
  # ==========================================================================
  # Networks / Merchant
  # ==========================================================================
  /networks:
    get:
      summary: List networks
      description: Returns array with current merchant/network
      operationId: listNetworks
      tags:
        - Networks
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized

  /merchant:
    get:
      summary: Get merchant info
      description: Returns current merchant information
      operationId: getMerchant
      tags:
        - Networks
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized

  # ==========================================================================
  # Bookings
  # ==========================================================================
  /bookings:
    get:
      summary: List bookings
      description: Retrieve a list of bookings with optional filters
      operationId: listBookings
      tags:
        - Bookings
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, cancelled, completed]
        - name: resource_id
          in: query
          schema:
            type: string
            format: uuid
        - name: customer_id
          in: query
          schema:
            type: string
            format: uuid
        - name: location_id
          in: query
          schema:
            type: string
            format: uuid
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized

    post:
      summary: Create a booking
      description: Create a new booking for a resource
      operationId: createBooking
      tags:
        - Bookings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - resource_id
                - customer_id
                - location_id
                - start_time
                - end_time
              properties:
                resource_id:
                  type: string
                  format: uuid
                customer_id:
                  type: string
                  format: uuid
                location_id:
                  type: string
                  format: uuid
                start_time:
                  type: string
                  format: date-time
                end_time:
                  type: string
                  format: date-time
                title:
                  type: string
                notes:
                  type: string
                attendees:
                  type: integer
      responses:
        '201':
          description: Booking created
        '400':
          description: Validation error
        '409':
          description: Conflict - resource not available

  /bookings/{id}:
    get:
      summary: Get a booking
      description: Retrieve a single booking by ID
      operationId: getBooking
      tags:
        - Bookings
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Booking not found

    delete:
      summary: Cancel a booking
      description: Cancel (soft delete) a booking
      operationId: cancelBooking
      tags:
        - Bookings
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Booking cancelled
        '404':
          description: Booking not found

  # ==========================================================================
  # Companies
  # ==========================================================================
  /companies:
    get:
      summary: List companies
      description: Retrieve a list of companies
      operationId: listCompanies
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

    post:
      summary: Create a company
      description: Create a new company
      operationId: createCompany
      tags:
        - Companies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                auto_approve_members:
                  type: boolean
      responses:
        '201':
          description: Company created

  /companies/{id}:
    get:
      summary: Get a company
      description: Retrieve a single company by ID
      operationId: getCompany
      tags:
        - Companies
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Company not found

    put:
      summary: Update a company
      description: Update an existing company
      operationId: updateCompany
      tags:
        - Companies
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                auto_approve_members:
                  type: boolean
      responses:
        '200':
          description: Company updated
        '404':
          description: Company not found

  # ==========================================================================
  # Resources
  # ==========================================================================
  /resources:
    get:
      summary: List resources
      description: Retrieve a list of resources with optional filters
      operationId: listResources
      tags:
        - Resources
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: location_id
          in: query
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response

  /resources/{id}:
    get:
      summary: Get a resource
      description: Retrieve a single resource by ID
      operationId: getResource
      tags:
        - Resources
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Resource not found

    patch:
      summary: Update a resource
      description: Partially update a resource
      operationId: updateResource
      tags:
        - Resources
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                capacity:
                  type: integer
                is_active:
                  type: boolean
                hourly_rate:
                  type: number
                daily_rate:
                  type: number
      responses:
        '200':
          description: Resource updated
        '404':
          description: Resource not found

  /resources/{id}/availability:
    get:
      summary: Check resource availability
      description: Check availability for a specific resource on a given date
      operationId: getResourceAvailability
      tags:
        - Resources
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Availability information

  # ==========================================================================
  # Locations
  # ==========================================================================
  /locations:
    get:
      summary: List locations
      description: Retrieve a list of locations
      operationId: listLocations
      tags:
        - Locations
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

  /locations/{id}:
    get:
      summary: Get a location
      description: Retrieve a single location by ID
      operationId: getLocation
      tags:
        - Locations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Location not found

  # ==========================================================================
  # Invoices
  # ==========================================================================
  /invoices:
    get:
      summary: List invoices
      description: Retrieve a list of invoices with optional filters
      operationId: listInvoices
      tags:
        - Invoices
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, pending, paid, overdue, cancelled]
        - name: customer_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response

    post:
      summary: Create an invoice
      description: Create a new invoice
      operationId: createInvoice
      tags:
        - Invoices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customer_id
              properties:
                customer_id:
                  type: string
                  format: uuid
                company_id:
                  type: string
                  format: uuid
                due_date:
                  type: string
                  format: date
      responses:
        '201':
          description: Invoice created

  /invoices/{id}:
    get:
      summary: Get an invoice
      description: Retrieve a single invoice by ID
      operationId: getInvoice
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Invoice not found

  /invoices/{id}/items:
    post:
      summary: Add invoice item
      description: Add an item to an invoice
      operationId: createInvoiceItem
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - description
                - quantity
                - unit_price
              properties:
                description:
                  type: string
                quantity:
                  type: integer
                unit_price:
                  type: number
      responses:
        '201':
          description: Item added

  /invoices/{id}/pay:
    post:
      summary: Pay an invoice
      description: Mark an invoice as paid
      operationId: payInvoice
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_method:
                  type: string
      responses:
        '200':
          description: Invoice paid
        '404':
          description: Invoice not found

  # ==========================================================================
  # Credit Notes
  # ==========================================================================
  /credit-notes:
    get:
      summary: List credit notes
      description: Retrieve a list of credit notes
      operationId: listCreditNotes
      tags:
        - Invoices
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

  /credit-notes/{id}:
    get:
      summary: Get a credit note
      description: Retrieve a single credit note by ID
      operationId: getCreditNote
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Credit note not found

  # ==========================================================================
  # Events
  # ==========================================================================
  /events:
    get:
      summary: List events
      description: Retrieve a list of events with optional filters
      operationId: listEvents
      tags:
        - Events
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, published, cancelled, completed]
      responses:
        '200':
          description: Successful response

    post:
      summary: Create an event
      description: Create a new event
      operationId: createEvent
      tags:
        - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - start_time
                - end_time
              properties:
                title:
                  type: string
                description:
                  type: string
                start_time:
                  type: string
                  format: date-time
                end_time:
                  type: string
                  format: date-time
                venue:
                  type: string
                max_attendees:
                  type: integer
                price:
                  type: number
                is_public:
                  type: boolean
      responses:
        '201':
          description: Event created

  /events/{id}:
    get:
      summary: Get an event
      description: Retrieve a single event by ID
      operationId: getEvent
      tags:
        - Events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Event not found

  /events/{id}/cancel:
    put:
      summary: Cancel an event
      description: Cancel an event
      operationId: cancelEvent
      tags:
        - Events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Event cancelled
        '404':
          description: Event not found

  /events/{id}/copy:
    post:
      summary: Copy an event
      description: Create a copy of an existing event
      operationId: copyEvent
      tags:
        - Events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                start_time:
                  type: string
                  format: date-time
                end_time:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Event copied

  /events/{id}/tickets:
    get:
      summary: List event tickets
      description: Retrieve tickets for a specific event
      operationId: listEventTickets
      tags:
        - Events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

  /events/{id}/tickets/{ticketId}:
    get:
      summary: Get an event ticket
      description: Retrieve a single event ticket
      operationId: getEventTicket
      tags:
        - Events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Ticket not found

  # ==========================================================================
  # Plans
  # ==========================================================================
  /plans:
    get:
      summary: List plans
      description: Retrieve a list of membership plans
      operationId: listPlans
      tags:
        - Plans
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

    post:
      summary: Create a plan
      description: Create a new membership plan
      operationId: createPlan
      tags:
        - Plans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - price
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
                currency:
                  type: string
                billing_cycle:
                  type: string
                  enum: [monthly, yearly]
      responses:
        '201':
          description: Plan created

  /plans/{id}:
    get:
      summary: Get a plan
      description: Retrieve a single plan by ID
      operationId: getPlan
      tags:
        - Plans
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Plan not found

    patch:
      summary: Update a plan
      description: Partially update a plan
      operationId: updatePlan
      tags:
        - Plans
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
                is_active:
                  type: boolean
      responses:
        '200':
          description: Plan updated
        '404':
          description: Plan not found

    delete:
      summary: Delete a plan
      description: Delete a membership plan
      operationId: deletePlan
      tags:
        - Plans
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Plan deleted
        '404':
          description: Plan not found

  # ==========================================================================
  # Memberships
  # ==========================================================================
  /memberships:
    get:
      summary: List memberships
      description: Retrieve a list of memberships
      operationId: listMemberships
      tags:
        - Memberships
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, paused, cancelled, expired]
      responses:
        '200':
          description: Successful response

    post:
      summary: Create a membership
      description: Create a new membership
      operationId: createMembership
      tags:
        - Memberships
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customer_id
                - plan_id
              properties:
                customer_id:
                  type: string
                  format: uuid
                plan_id:
                  type: string
                  format: uuid
                start_date:
                  type: string
                  format: date
      responses:
        '201':
          description: Membership created

  /memberships/deleted:
    get:
      summary: List deleted memberships
      description: Retrieve a list of deleted memberships
      operationId: listDeletedMemberships
      tags:
        - Memberships
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

  /memberships/{id}:
    get:
      summary: Get a membership
      description: Retrieve a single membership by ID
      operationId: getMembership
      tags:
        - Memberships
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Membership not found

    put:
      summary: Update a membership
      description: Update an existing membership
      operationId: updateMembership
      tags:
        - Memberships
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [active, paused, cancelled]
                end_date:
                  type: string
                  format: date
      responses:
        '200':
          description: Membership updated
        '404':
          description: Membership not found

    delete:
      summary: Delete a membership
      description: Delete a membership
      operationId: deleteMembership
      tags:
        - Memberships
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Membership deleted
        '404':
          description: Membership not found

  # ==========================================================================
  # Benefits
  # ==========================================================================
  /benefits:
    get:
      summary: List benefits
      description: Retrieve a list of benefits
      operationId: listBenefits
      tags:
        - Benefits
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

    post:
      summary: Create a benefit
      description: Create a new benefit
      operationId: createBenefit
      tags:
        - Benefits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                description:
                  type: string
                partner_name:
                  type: string
                discount_value:
                  type: string
                valid_from:
                  type: string
                  format: date
                valid_until:
                  type: string
                  format: date
      responses:
        '201':
          description: Benefit created

  /benefits/{id}:
    get:
      summary: Get a benefit
      description: Retrieve a single benefit by ID
      operationId: getBenefit
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Benefit not found

    put:
      summary: Update a benefit
      description: Update an existing benefit
      operationId: updateBenefit
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                is_active:
                  type: boolean
      responses:
        '200':
          description: Benefit updated
        '404':
          description: Benefit not found

    delete:
      summary: Delete a benefit
      description: Delete a benefit
      operationId: deleteBenefit
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Benefit deleted
        '404':
          description: Benefit not found

  # ==========================================================================
  # Benefit Categories
  # ==========================================================================
  /benefit-categories:
    get:
      summary: List benefit categories
      description: Retrieve a list of benefit categories
      operationId: listBenefitCategories
      tags:
        - Benefits
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

    post:
      summary: Create a benefit category
      description: Create a new benefit category
      operationId: createBenefitCategory
      tags:
        - Benefits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - location_id
              properties:
                name:
                  type: string
                location_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Category created

  /benefit-categories/{id}:
    get:
      summary: Get a benefit category
      description: Retrieve a single benefit category by ID
      operationId: getBenefitCategory
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Category not found

    put:
      summary: Update a benefit category
      description: Update an existing benefit category
      operationId: updateBenefitCategory
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                is_active:
                  type: boolean
      responses:
        '200':
          description: Category updated
        '404':
          description: Category not found

    delete:
      summary: Delete a benefit category
      description: Delete a benefit category
      operationId: deleteBenefitCategory
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Category deleted
        '404':
          description: Category not found

  # ==========================================================================
  # Benefit Applications
  # ==========================================================================
  /benefit-applications:
    get:
      summary: List benefit applications
      description: Retrieve a list of benefit applications
      operationId: listBenefitApplications
      tags:
        - Benefits
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

    post:
      summary: Create a benefit application
      description: Apply for a benefit
      operationId: createBenefitApplication
      tags:
        - Benefits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - benefit_id
                - customer_id
              properties:
                benefit_id:
                  type: string
                  format: uuid
                customer_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Application created

  /benefit-applications/{id}:
    get:
      summary: Get a benefit application
      description: Retrieve a single benefit application by ID
      operationId: getBenefitApplication
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Application not found

  # ==========================================================================
  # Contracts
  # ==========================================================================
  /contracts:
    post:
      summary: Create a contract
      description: Create a new contract
      operationId: createContract
      tags:
        - Contracts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - template_id
              properties:
                template_id:
                  type: string
                  format: uuid
                customer_id:
                  type: string
                  format: uuid
                company_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Contract created

  /contracts/{id}:
    get:
      summary: Get a contract
      description: Retrieve a single contract by ID
      operationId: getContract
      tags:
        - Contracts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Contract not found

    delete:
      summary: Delete a contract
      description: Delete a contract
      operationId: deleteContract
      tags:
        - Contracts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Contract deleted
        '404':
          description: Contract not found

  /contracts/{id}/issue:
    post:
      summary: Issue a contract
      description: Issue a contract for signing
      operationId: issueContract
      tags:
        - Contracts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Contract issued
        '404':
          description: Contract not found

  # ==========================================================================
  # Feed Posts
  # ==========================================================================
  /feed:
    get:
      summary: List feed posts
      description: Retrieve a list of feed posts
      operationId: listFeedPosts
      tags:
        - Feed
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

    post:
      summary: Create a feed post
      description: Create a new feed post
      operationId: createFeedPost
      tags:
        - Feed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - content
              properties:
                title:
                  type: string
                content:
                  type: string
                is_published:
                  type: boolean
                is_pinned:
                  type: boolean
      responses:
        '201':
          description: Feed post created

  /feed/{id}:
    get:
      summary: Get a feed post
      description: Retrieve a single feed post by ID
      operationId: getFeedPost
      tags:
        - Feed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Feed post not found

    put:
      summary: Update a feed post
      description: Update an existing feed post
      operationId: updateFeedPost
      tags:
        - Feed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                is_published:
                  type: boolean
                is_pinned:
                  type: boolean
      responses:
        '200':
          description: Feed post updated
        '404':
          description: Feed post not found

    delete:
      summary: Delete a feed post
      description: Delete a feed post
      operationId: deleteFeedPost
      tags:
        - Feed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Feed post deleted
        '404':
          description: Feed post not found

  /feed/{id}/likes:
    get:
      summary: List post likes
      description: Retrieve likes for a feed post
      operationId: listPostLikes
      tags:
        - Feed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response

    post:
      summary: Like a post
      description: Add a like to a feed post
      operationId: createPostLike
      tags:
        - Feed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customer_id
              properties:
                customer_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Like added

  /feed/{id}/likes/{likeId}:
    delete:
      summary: Remove a post like
      description: Remove a like from a feed post
      operationId: deletePostLike
      tags:
        - Feed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: likeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Like removed

  /feed/{id}/comments:
    get:
      summary: List post comments
      description: Retrieve comments for a feed post
      operationId: listPostComments
      tags:
        - Feed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response

    post:
      summary: Add a comment
      description: Add a comment to a feed post
      operationId: createPostComment
      tags:
        - Feed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
                - customer_id
              properties:
                content:
                  type: string
                customer_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Comment added

  /feed/{id}/comments/{commentId}:
    delete:
      summary: Delete a comment
      description: Delete a comment from a feed post
      operationId: deletePostComment
      tags:
        - Feed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Comment deleted

  /feed/{id}/comments/{commentId}/likes:
    post:
      summary: Like a comment
      description: Add a like to a comment
      operationId: createCommentLike
      tags:
        - Feed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customer_id
              properties:
                customer_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Like added

  /feed/{id}/comments/{commentId}/likes/{likeId}:
    delete:
      summary: Remove a comment like
      description: Remove a like from a comment
      operationId: deleteCommentLike
      tags:
        - Feed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: likeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Like removed

  # ==========================================================================
  # Shop - Orders
  # ==========================================================================
  /orders:
    get:
      summary: List orders
      description: Retrieve a list of shop orders
      operationId: listOrders
      tags:
        - Shop
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

  /orders/{id}:
    get:
      summary: Get an order
      description: Retrieve a single order by ID
      operationId: getOrder
      tags:
        - Shop
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Order not found

  # ==========================================================================
  # Shop - Categories
  # ==========================================================================
  /shop-categories:
    get:
      summary: List shop categories
      description: Retrieve a list of shop categories
      operationId: listShopCategories
      tags:
        - Shop
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

    post:
      summary: Create a shop category
      description: Create a new shop category
      operationId: createShopCategory
      tags:
        - Shop
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Category created

  /shop-categories/{id}:
    get:
      summary: Get a shop category
      description: Retrieve a single shop category by ID
      operationId: getShopCategory
      tags:
        - Shop
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Category not found

    put:
      summary: Update a shop category
      description: Update an existing shop category
      operationId: updateShopCategory
      tags:
        - Shop
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Category updated
        '404':
          description: Category not found

    delete:
      summary: Delete a shop category
      description: Delete a shop category
      operationId: deleteShopCategory
      tags:
        - Shop
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Category deleted
        '404':
          description: Category not found

  # ==========================================================================
  # Shop - Products
  # ==========================================================================
  /products:
    get:
      summary: List products
      description: Retrieve a list of products
      operationId: listProducts
      tags:
        - Shop
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

    post:
      summary: Create a product
      description: Create a new product
      operationId: createProduct
      tags:
        - Shop
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - price
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
                category_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Product created

  /products/{id}:
    get:
      summary: Get a product
      description: Retrieve a single product by ID
      operationId: getProduct
      tags:
        - Shop
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Product not found

    put:
      summary: Update a product
      description: Update an existing product
      operationId: updateProduct
      tags:
        - Shop
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
      responses:
        '200':
          description: Product updated
        '404':
          description: Product not found

    delete:
      summary: Delete a product
      description: Delete a product
      operationId: deleteProduct
      tags:
        - Shop
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Product deleted
        '404':
          description: Product not found

  # ==========================================================================
  # Registrations
  # ==========================================================================
  /registrations:
    get:
      summary: List registrations
      description: Retrieve a list of member registrations
      operationId: listRegistrations
      tags:
        - Members
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

  # ==========================================================================
  # Support Tickets
  # ==========================================================================
  /tickets:
    get:
      summary: List tickets
      description: Retrieve a list of support tickets
      operationId: listTickets
      tags:
        - Tickets
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [open, in_progress, resolved, closed]
      responses:
        '200':
          description: Successful response

    post:
      summary: Create a ticket
      description: Create a new support ticket
      operationId: createTicket
      tags:
        - Tickets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - subject
                - description
              properties:
                subject:
                  type: string
                description:
                  type: string
                customer_id:
                  type: string
                  format: uuid
                priority:
                  type: string
                  enum: [low, medium, high, urgent]
      responses:
        '201':
          description: Ticket created

  /tickets/{id}:
    get:
      summary: Get a ticket
      description: Retrieve a single ticket by ID
      operationId: getTicket
      tags:
        - Tickets
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Ticket not found

  /tickets/{id}/status:
    put:
      summary: Update ticket status
      description: Update the status of a ticket
      operationId: updateTicketStatus
      tags:
        - Tickets
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [open, in_progress, resolved, closed]
      responses:
        '200':
          description: Status updated
        '404':
          description: Ticket not found

  /tickets/{id}/assignee:
    put:
      summary: Update ticket assignee
      description: Assign a ticket to a user
      operationId: updateTicketAssignee
      tags:
        - Tickets
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assignee_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Assignee updated
        '404':
          description: Ticket not found

  /tickets/{id}/category:
    patch:
      summary: Update ticket category
      description: Update the category of a ticket
      operationId: updateTicketCategory
      tags:
        - Tickets
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Category updated
        '404':
          description: Ticket not found

  /tickets/{id}/comments:
    get:
      summary: List ticket comments
      description: Retrieve comments for a ticket
      operationId: listTicketComments
      tags:
        - Tickets
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response

    post:
      summary: Add ticket comment
      description: Add a comment to a ticket
      operationId: createTicketComment
      tags:
        - Tickets
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
      responses:
        '201':
          description: Comment added

  /tickets/{id}/comments/{commentId}:
    delete:
      summary: Delete ticket comment
      description: Delete a comment from a ticket
      operationId: deleteTicketComment
      tags:
        - Tickets
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Comment deleted

  # ==========================================================================
  # Transactions - Credits
  # ==========================================================================
  /transactions/credits:
    get:
      summary: List credit transactions
      description: Retrieve a list of credit transactions
      operationId: listCreditTransactions
      tags:
        - Transactions
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

    post:
      summary: Create credit transaction
      description: Create a new credit transaction
      operationId: createCreditTransaction
      tags:
        - Transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - transaction_type
              properties:
                customer_id:
                  type: string
                  format: uuid
                company_id:
                  type: string
                  format: uuid
                amount:
                  type: number
                transaction_type:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: Transaction created

  # ==========================================================================
  # Transactions - Day Passes
  # ==========================================================================
  /transactions/day-passes:
    get:
      summary: List day pass transactions
      description: Retrieve a list of day pass transactions
      operationId: listDayPassTransactions
      tags:
        - Transactions
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

    post:
      summary: Create day pass transaction
      description: Create a new day pass transaction
      operationId: createDayPassTransaction
      tags:
        - Transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - transaction_type
              properties:
                customer_id:
                  type: string
                  format: uuid
                company_id:
                  type: string
                  format: uuid
                amount:
                  type: number
                transaction_type:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: Transaction created

  # ==========================================================================
  # Transactions - Payments
  # ==========================================================================
  /transactions/payments:
    get:
      summary: List payment transactions
      description: Retrieve a list of money/payment transactions
      operationId: listMoneyTransactions
      tags:
        - Transactions
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

  /transactions/payments/{id}:
    get:
      summary: Get a payment transaction
      description: Retrieve a single payment transaction by ID
      operationId: getMoneyTransaction
      tags:
        - Transactions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Transaction not found

  # ==========================================================================
  # Visitors - Contacts
  # ==========================================================================
  /visitors/contacts:
    get:
      summary: List visitor contacts
      description: Retrieve a list of visitor contacts
      operationId: listVisitorContacts
      tags:
        - Visitors
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

    post:
      summary: Create a visitor contact
      description: Create a new visitor contact
      operationId: createVisitorContact
      tags:
        - Visitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - first_name
                - email
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                  format: email
                phone:
                  type: string
                company_name:
                  type: string
      responses:
        '201':
          description: Contact created

  /visitors/contacts/{id}:
    get:
      summary: Get a visitor contact
      description: Retrieve a single visitor contact by ID
      operationId: getVisitorContact
      tags:
        - Visitors
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Contact not found

  # ==========================================================================
  # Visitors - Requests
  # ==========================================================================
  /visitors/requests:
    get:
      summary: List visitor requests
      description: Retrieve a list of visitor requests
      operationId: listVisitorRequests
      tags:
        - Visitors
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

    post:
      summary: Create a visitor request
      description: Create a new visitor request
      operationId: createVisitorRequest
      tags:
        - Visitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - visitor_name
                - visitor_email
                - visit_date
              properties:
                visitor_name:
                  type: string
                visitor_email:
                  type: string
                  format: email
                visit_date:
                  type: string
                  format: date
                purpose:
                  type: string
                host_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Request created

  /visitors/requests/{id}:
    get:
      summary: Get a visitor request
      description: Retrieve a single visitor request by ID
      operationId: getVisitorRequest
      tags:
        - Visitors
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Request not found

  /visitors/requests/{id}/approve:
    post:
      summary: Approve a visitor request
      description: Approve a pending visitor request
      operationId: approveVisitorRequest
      tags:
        - Visitors
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request approved
        '404':
          description: Request not found

  /visitors/requests/{id}/reject:
    post:
      summary: Reject a visitor request
      description: Reject a pending visitor request
      operationId: rejectVisitorRequest
      tags:
        - Visitors
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request rejected
        '404':
          description: Request not found

  # ==========================================================================
  # Visitors - Visits
  # ==========================================================================
  /visitors/visits:
    get:
      summary: List visits
      description: Retrieve a list of visits
      operationId: listVisits
      tags:
        - Visitors
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response

    post:
      summary: Create a visit
      description: Create a new visit
      operationId: createVisit
      tags:
        - Visitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - location_id
                - visitor_first_name
                - visitor_email
                - visit_date
              properties:
                location_id:
                  type: string
                  format: uuid
                host_id:
                  type: string
                  format: uuid
                visitor_first_name:
                  type: string
                visitor_last_name:
                  type: string
                visitor_email:
                  type: string
                  format: email
                visitor_phone:
                  type: string
                visit_date:
                  type: string
                  format: date
                notes:
                  type: string
      responses:
        '201':
          description: Visit created

  /visitors/visits/{id}:
    get:
      summary: Get a visit
      description: Retrieve a single visit by ID
      operationId: getVisit
      tags:
        - Visitors
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Visit not found

    put:
      summary: Update a visit
      description: Update an existing visit
      operationId: updateVisit
      tags:
        - Visitors
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                visitor_first_name:
                  type: string
                visitor_last_name:
                  type: string
                visitor_email:
                  type: string
                  format: email
                visit_date:
                  type: string
                  format: date
                status:
                  type: string
                notes:
                  type: string
      responses:
        '200':
          description: Visit updated
        '404':
          description: Visit not found

    delete:
      summary: Delete a visit
      description: Delete a visit
      operationId: deleteVisit
      tags:
        - Visitors
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Visit deleted
        '404':
          description: Visit not found

  /visitors/visits/{id}/check-in:
    post:
      summary: Check in a visitor
      description: Check in a visitor for their visit
      operationId: checkInVisit
      tags:
        - Visitors
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Visitor checked in
        '400':
          description: Already checked in
        '404':
          description: Visit not found

  /visitors/visits/{id}/check-out:
    post:
      summary: Check out a visitor
      description: Check out a visitor from their visit
      operationId: checkOutVisit
      tags:
        - Visitors
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Visitor checked out
        '400':
          description: Not checked in or already checked out
        '404':
          description: Visit not found

tags:
  - name: Networks
    description: Network/merchant operations
  - name: Bookings
    description: Booking management
  - name: Companies
    description: Company management
  - name: Resources
    description: Resource management
  - name: Locations
    description: Location management
  - name: Invoices
    description: Invoice and credit note management
  - name: Events
    description: Event management
  - name: Plans
    description: Membership plan management
  - name: Memberships
    description: Membership management
  - name: Benefits
    description: Benefits, categories, and applications
  - name: Contracts
    description: Contract management
  - name: Feed
    description: Feed posts, comments, and likes
  - name: Shop
    description: Shop orders, categories, and products
  - name: Members
    description: Member registrations
  - name: Tickets
    description: Support ticket management
  - name: Transactions
    description: Credit, day pass, and payment transactions
  - name: Visitors
    description: Visitor contacts, requests, and visits
