openapi: 3.0.3
info:
  title: Rntor API
  description: REST API for programmatic access to your coworking and space management data
  version: 1.0.0
  contact:
    email: support@rntor.com
    url: https://app.rntor.com
servers:
  - url: https://api.rntor.com/v1
    description: Production server

security:
  - bearerAuth: []
    clientId: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Your API client secret
    clientId:
      type: apiKey
      in: header
      name: X-Client-ID
      description: Your API client ID

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: validation_error
            message:
              type: string
              example: The request body is missing required field 'email'
            details:
              type: object
              properties:
                field:
                  type: string
                  example: email
                reason:
                  type: string
                  example: required
        meta:
          type: object
          properties:
            request_id:
              type: string
              example: req_abc123def456

    Pagination:
      type: object
      properties:
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20
        total:
          type: integer
          example: 150
        total_pages:
          type: integer
          example: 8
        has_more:
          type: boolean
          example: true

    Meta:
      type: object
      properties:
        request_id:
          type: string
          example: req_abc123def456
        timestamp:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"

    # Resource Schemas
    Booking:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
        resource_id:
          type: string
          format: uuid
        customer_id:
          type: string
          format: uuid
        location_id:
          type: string
          format: uuid
        start_time:
          type: string
          format: date-time
          example: "2024-01-15T09:00:00Z"
        end_time:
          type: string
          format: date-time
          example: "2024-01-15T10:00:00Z"
        status:
          type: string
          enum: [pending, confirmed, cancelled, completed]
          example: confirmed
        title:
          type: string
          example: "Team Meeting"
        notes:
          type: string
        attendees:
          type: integer
          example: 4
        total_amount:
          type: number
          example: 50.00
        currency:
          type: string
          example: "USD"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Company:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
        name:
          type: string
          example: "Acme Corporation"
        auto_approve_members:
          type: boolean
          example: true
        money_balance:
          type: number
          example: 500.00
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Resource:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
        name:
          type: string
          example: "Meeting Room A"
        description:
          type: string
          example: "Large conference room with AV equipment"
        type:
          type: string
          example: "meeting_room"
        capacity:
          type: integer
          example: 12
        location_id:
          type: string
          format: uuid
        hourly_rate:
          type: number
          example: 25.00
        daily_rate:
          type: number
          example: 150.00
        is_active:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Location:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
        name:
          type: string
          example: "Downtown Office"
        address:
          type: string
          example: "123 Main Street"
        city:
          type: string
          example: "New York"
        country:
          type: string
          example: "US"
        timezone:
          type: string
          example: "America/New_York"
        is_active:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Invoice:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
        invoice_number:
          type: string
          example: "INV-2024-001"
        customer_id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [draft, pending, paid, overdue, cancelled]
          example: pending
        subtotal:
          type: number
          example: 100.00
        tax_amount:
          type: number
          example: 10.00
        total_amount:
          type: number
          example: 110.00
        currency:
          type: string
          example: "USD"
        due_date:
          type: string
          format: date
          example: "2024-02-15"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Event:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
        title:
          type: string
          example: "Networking Happy Hour"
        description:
          type: string
          example: "Join us for drinks and networking"
        start_time:
          type: string
          format: date-time
          example: "2024-01-20T18:00:00Z"
        end_time:
          type: string
          format: date-time
          example: "2024-01-20T21:00:00Z"
        venue:
          type: string
          example: "Main Lounge"
        max_attendees:
          type: integer
          example: 50
        price:
          type: number
          example: 25.00
        currency:
          type: string
          example: "USD"
        is_public:
          type: boolean
          example: true
        status:
          type: string
          enum: [draft, published, cancelled, completed]
          example: published
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Plan:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
        name:
          type: string
          example: "Premium Membership"
        description:
          type: string
          example: "Full access to all amenities"
        price:
          type: number
          example: 299.00
        currency:
          type: string
          example: "USD"
        billing_cycle:
          type: string
          enum: [monthly, yearly]
          example: monthly
        credits:
          type: integer
          example: 100
        day_passes:
          type: integer
          example: 10
        is_active:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Membership:
      type: object
      description: A membership plan template that customers can subscribe to
      properties:
        id:
          type: string
          format: uuid
          example: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
        location_id:
          type: string
          format: uuid
          description: The location this membership plan belongs to
        name:
          type: string
          example: "Premium Membership"
        description:
          type: string
          example: "Full access to all amenities and resources"
        cycle:
          type: string
          enum: [daily, weekly, monthly, quarterly, yearly]
          example: monthly
        price:
          type: number
          example: 299.00
        currency:
          type: string
          example: "USD"
        custom_tax_rate:
          type: boolean
          example: false
        tax_rate:
          type: number
          example: 10.0
        minimum_commitment:
          type: boolean
          example: false
        commitment_cycles:
          type: integer
          example: 12
        expiring_credits:
          type: integer
          description: Monthly credits included in this plan
          example: 100
        expiring_day_passes:
          type: integer
          description: Monthly day passes included in this plan
          example: 5
        discount_rooms:
          type: number
          description: Percentage discount on room bookings
          example: 20.0
        discount_desks:
          type: number
          description: Percentage discount on desk bookings
          example: 15.0
        discount_equipment:
          type: number
          example: 10.0
        discount_events:
          type: number
          example: 25.0
        discount_shop:
          type: number
          example: 10.0
        discount_credit_packages:
          type: number
          example: 5.0
        signup_enabled:
          type: boolean
          example: true
        signup_type:
          type: string
          example: "standard"
        is_active:
          type: boolean
          example: true
        exclusive_resource_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Resources exclusively available to this plan
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Benefit:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
        title:
          type: string
          example: "20% Off Coffee"
        description:
          type: string
          example: "Get 20% off at our partner coffee shop"
        partner_name:
          type: string
          example: "Local Coffee Co."
        discount_value:
          type: string
          example: "20%"
        valid_from:
          type: string
          format: date
        valid_until:
          type: string
          format: date
        is_active:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Customer:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
        first_name:
          type: string
          example: "John"
        last_name:
          type: string
          example: "Doe"
        email:
          type: string
          format: email
          example: "john.doe@example.com"
        phone:
          type: string
          example: "+1234567890"
        company_id:
          type: string
          format: uuid
        is_active:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Ticket:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
        subject:
          type: string
          example: "WiFi connection issue"
        description:
          type: string
          example: "Unable to connect to WiFi in meeting room B"
        status:
          type: string
          enum: [open, in_progress, resolved, closed]
          example: open
        priority:
          type: string
          enum: [low, medium, high, urgent]
          example: medium
        customer_id:
          type: string
          format: uuid
        assignee_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Visit:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
        visitor_first_name:
          type: string
          example: "Jane"
        visitor_last_name:
          type: string
          example: "Smith"
        visitor_email:
          type: string
          format: email
          example: "jane.smith@example.com"
        host_id:
          type: string
          format: uuid
        location_id:
          type: string
          format: uuid
        visit_date:
          type: string
          format: date
          example: "2024-01-15"
        check_in_time:
          type: string
          format: date-time
        check_out_time:
          type: string
          format: date-time
        status:
          type: string
          example: "scheduled"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Subscription:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
        customer_id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        billing_cycle:
          type: string
          enum: [monthly, quarterly, annually]
          example: monthly
        start_date:
          type: string
          format: date
          example: "2024-01-01"
        end_date:
          type: string
          format: date
          example: "2024-12-31"
        status:
          type: string
          enum: [active, paused, cancelled, expired]
          example: active
        total_amount:
          type: number
          example: 299.00
        currency:
          type: string
          example: "USD"
        payment_paused:
          type: boolean
          example: false
        payment_paused_until:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

  responses:
    BadRequest:
      description: Bad Request - Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: validation_error
              message: "The request body is missing required field 'email'"
              details:
                field: email
                reason: required
            meta:
              request_id: req_abc123def456

    Unauthorized:
      description: Unauthorized - Invalid or missing credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: invalid_token
              message: "The access token is invalid or expired"
            meta:
              request_id: req_abc123def456

    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: insufficient_scope
              message: "Token lacks required permissions for this operation"
            meta:
              request_id: req_abc123def456

    NotFound:
      description: Not Found - Resource doesn't exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: not_found
              message: "The requested resource was not found"
            meta:
              request_id: req_abc123def456

    Conflict:
      description: Conflict - Resource already exists or operation conflicts
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: conflict
              message: "The resource is not available for the requested time slot"
            meta:
              request_id: req_abc123def456

  parameters:
    PageParam:
      name: page
      in: query
      description: Page number
      schema:
        type: integer
        default: 1
        minimum: 1
    PerPageParam:
      name: per_page
      in: query
      description: Items per page
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100

paths:
  # ==========================================================================
  # Merchant
  # ==========================================================================
  /merchant:
    get:
      summary: Get merchant info
      description: Returns current merchant information
      operationId: getMerchant
      tags:
        - Merchant
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      slug:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                  meta:
                    $ref: '#/components/schemas/Meta'
              example:
                data:
                  id: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                  name: "Acme Coworking"
                  slug: "acme-coworking"
                  created_at: "2023-01-01T00:00:00Z"
                meta:
                  request_id: req_abc123def456
                  timestamp: "2024-01-15T10:30:00Z"
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==========================================================================
  # Bookings
  # ==========================================================================
  /bookings:
    get:
      summary: List bookings
      description: Retrieve a list of bookings with optional filters
      operationId: listBookings
      tags:
        - Bookings
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, cancelled, completed]
        - name: resource_id
          in: query
          schema:
            type: string
            format: uuid
        - name: customer_id
          in: query
          schema:
            type: string
            format: uuid
        - name: location_id
          in: query
          schema:
            type: string
            format: uuid
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
              example:
                data:
                  - id: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                    resource_id: "4d91d4dd-1e55-5c61-9999-9ee36847163b"
                    customer_id: "5e02e5ee-2f66-6d72-0000-0ff47958274c"
                    location_id: "6f13f6ff-3g77-7e83-1111-1gg58069385d"
                    start_time: "2024-01-15T09:00:00Z"
                    end_time: "2024-01-15T10:00:00Z"
                    status: "confirmed"
                    title: "Team Meeting"
                    attendees: 4
                    total_amount: 50.00
                    currency: "USD"
                    created_at: "2024-01-14T15:30:00Z"
                    updated_at: "2024-01-14T15:30:00Z"
                pagination:
                  page: 1
                  per_page: 20
                  total: 150
                  total_pages: 8
                  has_more: true
                meta:
                  request_id: req_abc123def456
                  timestamp: "2024-01-15T10:30:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create a booking
      description: Create a new booking for a resource
      operationId: createBooking
      tags:
        - Bookings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - resource_id
                - customer_id
                - location_id
                - start_time
                - end_time
              properties:
                resource_id:
                  type: string
                  format: uuid
                customer_id:
                  type: string
                  format: uuid
                location_id:
                  type: string
                  format: uuid
                start_time:
                  type: string
                  format: date-time
                end_time:
                  type: string
                  format: date-time
                title:
                  type: string
                notes:
                  type: string
                attendees:
                  type: integer
      responses:
        '201':
          description: Booking created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Booking'
                  meta:
                    $ref: '#/components/schemas/Meta'
              example:
                data:
                  id: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                  resource_id: "4d91d4dd-1e55-5c61-9999-9ee36847163b"
                  customer_id: "5e02e5ee-2f66-6d72-0000-0ff47958274c"
                  location_id: "6f13f6ff-3g77-7e83-1111-1gg58069385d"
                  start_time: "2024-01-15T09:00:00Z"
                  end_time: "2024-01-15T10:00:00Z"
                  status: "confirmed"
                  title: "Team Meeting"
                  created_at: "2024-01-14T15:30:00Z"
                  updated_at: "2024-01-14T15:30:00Z"
                meta:
                  request_id: req_abc123def456
                  timestamp: "2024-01-15T10:30:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /bookings/{id}:
    get:
      summary: Get a booking
      description: Retrieve a single booking by ID
      operationId: getBooking
      tags:
        - Bookings
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Booking'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Cancel a booking
      description: Cancel (soft delete) a booking
      operationId: cancelBooking
      tags:
        - Bookings
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Booking cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Booking'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # Companies
  # ==========================================================================
  /companies:
    get:
      summary: List companies
      description: Retrieve a list of companies
      operationId: listCompanies
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
              example:
                data:
                  - id: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                    name: "Acme Corporation"
                    auto_approve_members: true
                    money_balance: 500.00
                    created_at: "2024-01-01T00:00:00Z"
                    updated_at: "2024-01-14T15:30:00Z"
                pagination:
                  page: 1
                  per_page: 20
                  total: 45
                  total_pages: 3
                  has_more: true
                meta:
                  request_id: req_abc123def456
                  timestamp: "2024-01-15T10:30:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create a company
      description: Create a new company
      operationId: createCompany
      tags:
        - Companies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                auto_approve_members:
                  type: boolean
      responses:
        '201':
          description: Company created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Company'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /companies/{id}:
    get:
      summary: Get a company
      description: Retrieve a single company by ID
      operationId: getCompany
      tags:
        - Companies
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Company'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      summary: Update a company
      description: Update an existing company
      operationId: updateCompany
      tags:
        - Companies
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                auto_approve_members:
                  type: boolean
      responses:
        '200':
          description: Company updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Company'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # Resources
  # ==========================================================================
  /resources:
    get:
      summary: List resources
      description: Retrieve a list of resources with optional filters
      operationId: listResources
      tags:
        - Resources
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: location_id
          in: query
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Resource'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
              example:
                data:
                  - id: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                    name: "Meeting Room A"
                    description: "Large conference room with AV equipment"
                    type: "meeting_room"
                    capacity: 12
                    location_id: "4d91d4dd-1e55-5c61-9999-9ee36847163b"
                    hourly_rate: 25.00
                    daily_rate: 150.00
                    is_active: true
                    created_at: "2024-01-01T00:00:00Z"
                    updated_at: "2024-01-14T15:30:00Z"
                pagination:
                  page: 1
                  per_page: 20
                  total: 35
                  total_pages: 2
                  has_more: true
                meta:
                  request_id: req_abc123def456
                  timestamp: "2024-01-15T10:30:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /resources/{id}:
    get:
      summary: Get a resource
      description: Retrieve a single resource by ID
      operationId: getResource
      tags:
        - Resources
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Resource'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update a resource
      description: Partially update a resource
      operationId: updateResource
      tags:
        - Resources
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                capacity:
                  type: integer
                is_active:
                  type: boolean
                hourly_rate:
                  type: number
                daily_rate:
                  type: number
      responses:
        '200':
          description: Resource updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Resource'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /resources/{id}/availability:
    get:
      summary: Check resource availability
      description: Check availability for a specific resource on a given date
      operationId: getResourceAvailability
      tags:
        - Resources
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Availability information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      resource_id:
                        type: string
                        format: uuid
                      date:
                        type: string
                        format: date
                      available_slots:
                        type: array
                        items:
                          type: object
                          properties:
                            start_time:
                              type: string
                              format: date-time
                            end_time:
                              type: string
                              format: date-time
                  meta:
                    $ref: '#/components/schemas/Meta'
              example:
                data:
                  resource_id: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                  date: "2024-01-15"
                  available_slots:
                    - start_time: "2024-01-15T09:00:00Z"
                      end_time: "2024-01-15T11:00:00Z"
                    - start_time: "2024-01-15T14:00:00Z"
                      end_time: "2024-01-15T17:00:00Z"
                meta:
                  request_id: req_abc123def456
                  timestamp: "2024-01-15T10:30:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # Locations
  # ==========================================================================
  /locations:
    get:
      summary: List locations
      description: Retrieve a list of locations
      operationId: listLocations
      tags:
        - Locations
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
              example:
                data:
                  - id: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                    name: "Downtown Office"
                    address: "123 Main Street"
                    city: "New York"
                    country: "US"
                    timezone: "America/New_York"
                    is_active: true
                    created_at: "2024-01-01T00:00:00Z"
                    updated_at: "2024-01-14T15:30:00Z"
                pagination:
                  page: 1
                  per_page: 20
                  total: 5
                  total_pages: 1
                  has_more: false
                meta:
                  request_id: req_abc123def456
                  timestamp: "2024-01-15T10:30:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /locations/{id}:
    get:
      summary: Get a location
      description: Retrieve a single location by ID
      operationId: getLocation
      tags:
        - Locations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Location'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # Invoices
  # ==========================================================================
  /invoices:
    get:
      summary: List invoices
      description: Retrieve a list of invoices with optional filters
      operationId: listInvoices
      tags:
        - Invoices
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, pending, paid, overdue, cancelled]
        - name: customer_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
              example:
                data:
                  - id: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                    invoice_number: "INV-2024-001"
                    customer_id: "4d91d4dd-1e55-5c61-9999-9ee36847163b"
                    status: "pending"
                    subtotal: 100.00
                    tax_amount: 10.00
                    total_amount: 110.00
                    currency: "USD"
                    due_date: "2024-02-15"
                    created_at: "2024-01-15T00:00:00Z"
                    updated_at: "2024-01-15T00:00:00Z"
                pagination:
                  page: 1
                  per_page: 20
                  total: 250
                  total_pages: 13
                  has_more: true
                meta:
                  request_id: req_abc123def456
                  timestamp: "2024-01-15T10:30:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create an invoice
      description: Create a new invoice
      operationId: createInvoice
      tags:
        - Invoices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customer_id
              properties:
                customer_id:
                  type: string
                  format: uuid
                company_id:
                  type: string
                  format: uuid
                due_date:
                  type: string
                  format: date
      responses:
        '201':
          description: Invoice created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Invoice'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /invoices/{id}:
    get:
      summary: Get an invoice
      description: Retrieve a single invoice by ID
      operationId: getInvoice
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Invoice'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /invoices/{id}/items:
    post:
      summary: Add invoice item
      description: Add an item to an invoice
      operationId: createInvoiceItem
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - description
                - quantity
                - unit_price
              properties:
                description:
                  type: string
                quantity:
                  type: integer
                unit_price:
                  type: number
      responses:
        '201':
          description: Item added
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      invoice_id:
                        type: string
                        format: uuid
                      description:
                        type: string
                      quantity:
                        type: integer
                      unit_price:
                        type: number
                      total:
                        type: number
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /invoices/{id}/pay:
    post:
      summary: Pay an invoice
      description: Mark an invoice as paid
      operationId: payInvoice
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_method:
                  type: string
      responses:
        '200':
          description: Invoice paid
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Invoice'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # Credit Notes
  # ==========================================================================
  /credit-notes:
    get:
      summary: List credit notes
      description: Retrieve a list of credit notes
      operationId: listCreditNotes
      tags:
        - Invoices
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        invoice_id:
                          type: string
                          format: uuid
                        amount:
                          type: number
                        reason:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /credit-notes/{id}:
    get:
      summary: Get a credit note
      description: Retrieve a single credit note by ID
      operationId: getCreditNote
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      invoice_id:
                        type: string
                        format: uuid
                      amount:
                        type: number
                      reason:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # Subscriptions
  # ==========================================================================
  /subscriptions:
    get:
      summary: List subscriptions
      description: Retrieve a list of customer subscriptions with optional filters
      operationId: listSubscriptions
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: customer_id
          in: query
          schema:
            type: string
            format: uuid
        - name: company_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [active, paused, cancelled, expired]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subscription'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
              example:
                data:
                  - id: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                    customer_id: "4d91d4dd-1e55-5c61-9999-9ee36847163b"
                    billing_cycle: "monthly"
                    start_date: "2024-01-01"
                    end_date: null
                    status: "active"
                    total_amount: 299.00
                    currency: "USD"
                    payment_paused: false
                    created_at: "2024-01-01T00:00:00Z"
                    updated_at: "2024-01-01T00:00:00Z"
                pagination:
                  page: 1
                  per_page: 20
                  total: 150
                  total_pages: 8
                  has_more: true
                meta:
                  request_id: req_abc123def456
                  timestamp: "2024-01-15T10:30:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create a subscription
      description: Create a new customer subscription
      operationId: createSubscription
      tags:
        - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - billing_cycle
                - start_date
              properties:
                customer_id:
                  type: string
                  format: uuid
                  description: Either customer_id or company_id is required
                company_id:
                  type: string
                  format: uuid
                  description: Either customer_id or company_id is required
                billing_cycle:
                  type: string
                  enum: [monthly, quarterly, annually]
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
                total_amount:
                  type: number
                currency:
                  type: string
            example:
              customer_id: "4d91d4dd-1e55-5c61-9999-9ee36847163b"
              billing_cycle: "monthly"
              start_date: "2024-01-01"
              total_amount: 299.00
              currency: "USD"
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Subscription'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /subscriptions/{id}:
    get:
      summary: Retrieve a subscription
      description: Get a single subscription by ID
      operationId: getSubscription
      tags:
        - Subscriptions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Subscription'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update a subscription
      description: Update an existing subscription
      operationId: updateSubscription
      tags:
        - Subscriptions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                billing_cycle:
                  type: string
                  enum: [monthly, quarterly, annually]
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
                status:
                  type: string
                  enum: [active, paused, cancelled, expired]
                total_amount:
                  type: number
                currency:
                  type: string
                payment_paused:
                  type: boolean
                payment_paused_until:
                  type: string
                  format: date-time
            example:
              status: "paused"
              payment_paused: true
              payment_paused_until: "2024-02-01T00:00:00Z"
      responses:
        '200':
          description: Subscription updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Subscription'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete a subscription
      description: Delete a subscription by ID
      operationId: deleteSubscription
      tags:
        - Subscriptions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Subscription deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      deleted:
                        type: boolean
                        example: true
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # Events
  # ==========================================================================
  /events:
    get:
      summary: List events
      description: Retrieve a list of events with optional filters
      operationId: listEvents
      tags:
        - Events
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, published, cancelled, completed]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
              example:
                data:
                  - id: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                    title: "Networking Happy Hour"
                    description: "Join us for drinks and networking"
                    start_time: "2024-01-20T18:00:00Z"
                    end_time: "2024-01-20T21:00:00Z"
                    venue: "Main Lounge"
                    max_attendees: 50
                    price: 25.00
                    currency: "USD"
                    is_public: true
                    status: "published"
                    created_at: "2024-01-10T00:00:00Z"
                    updated_at: "2024-01-10T00:00:00Z"
                pagination:
                  page: 1
                  per_page: 20
                  total: 25
                  total_pages: 2
                  has_more: true
                meta:
                  request_id: req_abc123def456
                  timestamp: "2024-01-15T10:30:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create an event
      description: Create a new event
      operationId: createEvent
      tags:
        - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - start_time
                - end_time
              properties:
                title:
                  type: string
                description:
                  type: string
                start_time:
                  type: string
                  format: date-time
                end_time:
                  type: string
                  format: date-time
                venue:
                  type: string
                max_attendees:
                  type: integer
                price:
                  type: number
                is_public:
                  type: boolean
      responses:
        '201':
          description: Event created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Event'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /events/{id}:
    get:
      summary: Get an event
      description: Retrieve a single event by ID
      operationId: getEvent
      tags:
        - Events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Event'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /events/{id}/cancel:
    put:
      summary: Cancel an event
      description: Cancel an event
      operationId: cancelEvent
      tags:
        - Events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Event cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Event'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /events/{id}/copy:
    post:
      summary: Copy an event
      description: Create a copy of an existing event
      operationId: copyEvent
      tags:
        - Events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                start_time:
                  type: string
                  format: date-time
                end_time:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Event copied
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Event'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /events/{id}/tickets:
    get:
      summary: List event tickets
      description: Retrieve tickets for a specific event
      operationId: listEventTickets
      tags:
        - Events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        event_id:
                          type: string
                          format: uuid
                        customer_id:
                          type: string
                          format: uuid
                        status:
                          type: string
                        checked_in:
                          type: boolean
                        created_at:
                          type: string
                          format: date-time
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /events/{id}/tickets/{ticketId}:
    get:
      summary: Get an event ticket
      description: Retrieve a single event ticket
      operationId: getEventTicket
      tags:
        - Events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      event_id:
                        type: string
                        format: uuid
                      customer_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                      checked_in:
                        type: boolean
                      created_at:
                        type: string
                        format: date-time
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # Plans
  # ==========================================================================
  /plans:
    get:
      summary: List plans
      description: Retrieve a list of membership plans
      operationId: listPlans
      tags:
        - Plans
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Plan'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
              example:
                data:
                  - id: "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                    name: "Premium Membership"
                    description: "Full access to all amenities"
                    price: 299.00
                    currency: "USD"
                    billing_cycle: "monthly"
                    credits: 100
                    day_passes: 10
                    is_active: true
                    created_at: "2024-01-01T00:00:00Z"
                    updated_at: "2024-01-14T15:30:00Z"
                pagination:
                  page: 1
                  per_page: 20
                  total: 8
                  total_pages: 1
                  has_more: false
                meta:
                  request_id: req_abc123def456
                  timestamp: "2024-01-15T10:30:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create a plan
      description: Create a new membership plan
      operationId: createPlan
      tags:
        - Plans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - price
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
                currency:
                  type: string
                billing_cycle:
                  type: string
                  enum: [monthly, yearly]
      responses:
        '201':
          description: Plan created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Plan'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /plans/{id}:
    get:
      summary: Get a plan
      description: Retrieve a single plan by ID
      operationId: getPlan
      tags:
        - Plans
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Plan'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update a plan
      description: Partially update a plan
      operationId: updatePlan
      tags:
        - Plans
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
                is_active:
                  type: boolean
      responses:
        '200':
          description: Plan updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Plan'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete a plan
      description: Delete a membership plan
      operationId: deletePlan
      tags:
        - Plans
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Plan deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # Memberships (Membership Plans)
  # ==========================================================================
  /memberships:
    get:
      summary: List membership plans
      description: Retrieve a list of membership plans available for customers to subscribe to
      operationId: listMemberships
      tags:
        - Memberships
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: location_id
          in: query
          description: Filter by location
          schema:
            type: string
            format: uuid
        - name: is_active
          in: query
          description: Filter by active status
          schema:
            type: boolean
        - name: signup_enabled
          in: query
          description: Filter by signup enabled status
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Membership'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create a membership plan
      description: Create a new membership plan
      operationId: createMembership
      tags:
        - Memberships
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - location_id
                - name
                - cycle
                - price
                - currency
              properties:
                location_id:
                  type: string
                  format: uuid
                name:
                  type: string
                  example: "Premium Membership"
                description:
                  type: string
                cycle:
                  type: string
                  enum: [daily, weekly, monthly, quarterly, yearly]
                price:
                  type: number
                  example: 299.00
                currency:
                  type: string
                  example: "USD"
                custom_tax_rate:
                  type: boolean
                tax_rate:
                  type: number
                minimum_commitment:
                  type: boolean
                commitment_cycles:
                  type: integer
                expiring_credits:
                  type: integer
                expiring_day_passes:
                  type: integer
                discount_rooms:
                  type: number
                discount_desks:
                  type: number
                discount_equipment:
                  type: number
                discount_events:
                  type: number
                discount_shop:
                  type: number
                discount_credit_packages:
                  type: number
                signup_enabled:
                  type: boolean
                signup_type:
                  type: string
                is_active:
                  type: boolean
                exclusive_resource_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '201':
          description: Membership plan created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Membership'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /memberships/deleted:
    get:
      summary: List inactive membership plans
      description: Retrieve a list of inactive (deleted) membership plans
      operationId: listDeletedMemberships
      tags:
        - Memberships
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Membership'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /memberships/{id}:
    get:
      summary: Get a membership plan
      description: Retrieve a single membership plan by ID
      operationId: getMembership
      tags:
        - Memberships
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Membership'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      summary: Update a membership plan
      description: Update an existing membership plan
      operationId: updateMembership
      tags:
        - Memberships
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                cycle:
                  type: string
                  enum: [daily, weekly, monthly, quarterly, yearly]
                price:
                  type: number
                currency:
                  type: string
                custom_tax_rate:
                  type: boolean
                tax_rate:
                  type: number
                minimum_commitment:
                  type: boolean
                commitment_cycles:
                  type: integer
                expiring_credits:
                  type: integer
                expiring_day_passes:
                  type: integer
                discount_rooms:
                  type: number
                discount_desks:
                  type: number
                discount_equipment:
                  type: number
                discount_events:
                  type: number
                discount_shop:
                  type: number
                discount_credit_packages:
                  type: number
                signup_enabled:
                  type: boolean
                signup_type:
                  type: string
                is_active:
                  type: boolean
                exclusive_resource_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '200':
          description: Membership plan updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Membership'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete a membership plan
      description: Delete a membership plan (sets is_active to false)
      operationId: deleteMembership
      tags:
        - Memberships
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Membership plan deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Membership'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # Benefits
  # ==========================================================================
  /benefits:
    get:
      summary: List benefits
      description: Retrieve a list of benefits
      operationId: listBenefits
      tags:
        - Benefits
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Benefit'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create a benefit
      description: Create a new benefit
      operationId: createBenefit
      tags:
        - Benefits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                description:
                  type: string
                partner_name:
                  type: string
                discount_value:
                  type: string
                valid_from:
                  type: string
                  format: date
                valid_until:
                  type: string
                  format: date
      responses:
        '201':
          description: Benefit created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Benefit'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /benefits/{id}:
    get:
      summary: Get a benefit
      description: Retrieve a single benefit by ID
      operationId: getBenefit
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Benefit'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      summary: Update a benefit
      description: Update an existing benefit
      operationId: updateBenefit
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                is_active:
                  type: boolean
      responses:
        '200':
          description: Benefit updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Benefit'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete a benefit
      description: Delete a benefit
      operationId: deleteBenefit
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Benefit deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # Benefit Categories
  # ==========================================================================
  /benefit-categories:
    get:
      summary: List benefit categories
      description: Retrieve a list of benefit categories
      operationId: listBenefitCategories
      tags:
        - Benefits
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        location_id:
                          type: string
                          format: uuid
                        is_active:
                          type: boolean
                        created_at:
                          type: string
                          format: date-time
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create a benefit category
      description: Create a new benefit category
      operationId: createBenefitCategory
      tags:
        - Benefits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - location_id
              properties:
                name:
                  type: string
                location_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Category created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      location_id:
                        type: string
                        format: uuid
                      is_active:
                        type: boolean
                      created_at:
                        type: string
                        format: date-time
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /benefit-categories/{id}:
    get:
      summary: Get a benefit category
      description: Retrieve a single benefit category by ID
      operationId: getBenefitCategory
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      location_id:
                        type: string
                        format: uuid
                      is_active:
                        type: boolean
                      created_at:
                        type: string
                        format: date-time
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      summary: Update a benefit category
      description: Update an existing benefit category
      operationId: updateBenefitCategory
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                is_active:
                  type: boolean
      responses:
        '200':
          description: Category updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      location_id:
                        type: string
                        format: uuid
                      is_active:
                        type: boolean
                      created_at:
                        type: string
                        format: date-time
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete a benefit category
      description: Delete a benefit category
      operationId: deleteBenefitCategory
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Category deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # Benefit Applications
  # ==========================================================================
  /benefit-applications:
    get:
      summary: List benefit applications
      description: Retrieve a list of benefit applications
      operationId: listBenefitApplications
      tags:
        - Benefits
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        benefit_id:
                          type: string
                          format: uuid
                        customer_id:
                          type: string
                          format: uuid
                        status:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create a benefit application
      description: Apply for a benefit
      operationId: createBenefitApplication
      tags:
        - Benefits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - benefit_id
                - customer_id
              properties:
                benefit_id:
                  type: string
                  format: uuid
                customer_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Application created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
[...]
