openapi: 3.0.3
info:
  title: Rntor API
  description: REST API for programmatic access to your coworking and space management data
  version: 1.0.0
  contact:
    email: support@rntor.com
    url: https://app.rntor.com
servers:
  - url: https://api.rntor.com/v1
    description: Production server

security:
  - bearerAuth: []
    clientId: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Your API client secret
    clientId:
      type: apiKey
      in: header
      name: X-Client-ID
      description: Your API client ID

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: not_found
            message:
              type: string
              example: Resource not found
        meta:
          type: object
          properties:
            request_id:
              type: string
              example: req_abc123def456

    Pagination:
      type: object
      properties:
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20
        total:
          type: integer
          example: 150
        total_pages:
          type: integer
          example: 8
        has_more:
          type: boolean
          example: true

    Meta:
      type: object
      properties:
        request_id:
          type: string
          example: req_abc123def456
        timestamp:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"

    Booking:
      type: object
      properties:
        id:
          type: string
          format: uuid
        resource_id:
          type: string
          format: uuid
        customer_id:
          type: string
          format: uuid
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, confirmed, cancelled, completed]
        title:
          type: string
        notes:
          type: string
        attendees:
          type: integer
        total_amount:
          type: number
        currency:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Company:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        money_balance:
          type: number
        auto_approve_members:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Resource:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
        description:
          type: string
        capacity:
          type: integer
        location_id:
          type: string
          format: uuid
        is_active:
          type: boolean
        hourly_rate:
          type: number
        daily_rate:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Location:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        address:
          type: string
        city:
          type: string
        country:
          type: string
        timezone:
          type: string
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Invoice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        invoice_number:
          type: string
        customer_id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        total_amount:
          type: number
        currency:
          type: string
        status:
          type: string
          enum: [draft, pending, paid, overdue, cancelled]
        due_date:
          type: string
          format: date
        paid_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    Event:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        venue:
          type: string
        max_attendees:
          type: integer
        price:
          type: number
        status:
          type: string
          enum: [draft, published, cancelled, completed]
        is_public:
          type: boolean
        created_at:
          type: string
          format: date-time

    Plan:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        price:
          type: number
        currency:
          type: string
        billing_cycle:
          type: string
          enum: [monthly, yearly]
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time

    Membership:
      type: object
      properties:
        id:
          type: string
          format: uuid
        customer_id:
          type: string
          format: uuid
        plan_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, paused, cancelled, expired]
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        created_at:
          type: string
          format: date-time

    Benefit:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        partner_name:
          type: string
        discount_value:
          type: string
        is_active:
          type: boolean
        valid_from:
          type: string
          format: date
        valid_until:
          type: string
          format: date
        created_at:
          type: string
          format: date-time

    FeedPost:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        content:
          type: string
        author_id:
          type: string
          format: uuid
        is_published:
          type: boolean
        is_pinned:
          type: boolean
        created_at:
          type: string
          format: date-time

  parameters:
    PageParam:
      name: page
      in: query
      description: Page number
      schema:
        type: integer
        default: 1
        minimum: 1
    PerPageParam:
      name: per_page
      in: query
      description: Items per page
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100

paths:
  /networks:
    get:
      summary: List networks
      description: Returns array with current merchant/network
      operationId: listNetworks
      tags:
        - Networks
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /bookings:
    get:
      summary: List bookings
      description: Retrieve a list of bookings with optional filters
      operationId: listBookings
      tags:
        - Bookings
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          description: Filter by booking status
          schema:
            type: string
            enum: [pending, confirmed, cancelled, completed]
        - name: resource_id
          in: query
          description: Filter by resource ID
          schema:
            type: string
            format: uuid
        - name: customer_id
          in: query
          description: Filter by customer ID
          schema:
            type: string
            format: uuid
        - name: start_date
          in: query
          description: Filter bookings starting from this date
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: Filter bookings ending before this date
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - insufficient scope

    post:
      summary: Create a booking
      description: Create a new booking for a resource
      operationId: createBooking
      tags:
        - Bookings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - resource_id
                - customer_id
                - start_time
                - end_time
              properties:
                resource_id:
                  type: string
                  format: uuid
                customer_id:
                  type: string
                  format: uuid
                start_time:
                  type: string
                  format: date-time
                end_time:
                  type: string
                  format: date-time
                title:
                  type: string
                notes:
                  type: string
                attendees:
                  type: integer
      responses:
        '201':
          description: Booking created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Booking'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          description: Validation error
        '401':
          description: Unauthorized

  /bookings/{id}:
    get:
      summary: Get a booking
      description: Retrieve a single booking by ID
      operationId: getBooking
      tags:
        - Bookings
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Booking'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '404':
          description: Booking not found

    delete:
      summary: Cancel a booking
      description: Cancel (soft delete) a booking
      operationId: cancelBooking
      tags:
        - Bookings
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Booking cancelled
        '404':
          description: Booking not found

  /companies:
    get:
      summary: List companies
      description: Retrieve a list of companies
      operationId: listCompanies
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'

    post:
      summary: Create a company
      description: Create a new company
      operationId: createCompany
      tags:
        - Companies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                auto_approve_members:
                  type: boolean
      responses:
        '201':
          description: Company created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Company'
                  meta:
                    $ref: '#/components/schemas/Meta'

  /companies/{id}:
    get:
      summary: Get a company
      description: Retrieve a single company by ID
      operationId: getCompany
      tags:
        - Companies
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Company'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '404':
          description: Company not found

    put:
      summary: Update a company
      description: Update an existing company
      operationId: updateCompany
      tags:
        - Companies
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                auto_approve_members:
                  type: boolean
      responses:
        '200':
          description: Company updated
        '404':
          description: Company not found

  /resources:
    get:
      summary: List resources
      description: Retrieve a list of resources with optional filters
      operationId: listResources
      tags:
        - Resources
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: location_id
          in: query
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Resource'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'

  /resources/{id}:
    get:
      summary: Get a resource
      description: Retrieve a single resource by ID
      operationId: getResource
      tags:
        - Resources
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Resource'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '404':
          description: Resource not found

    patch:
      summary: Update a resource
      description: Partially update a resource
      operationId: updateResource
      tags:
        - Resources
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                capacity:
                  type: integer
                is_active:
                  type: boolean
                hourly_rate:
                  type: number
                daily_rate:
                  type: number
      responses:
        '200':
          description: Resource updated
        '404':
          description: Resource not found

  /resources/{id}/availability:
    get:
      summary: Check resource availability
      description: Check availability for a specific resource
      operationId: getResourceAvailability
      tags:
        - Resources
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Availability information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      available_slots:
                        type: array
                        items:
                          type: object
                          properties:
                            start_time:
                              type: string
                              format: date-time
                            end_time:
                              type: string
                              format: date-time
                  meta:
                    $ref: '#/components/schemas/Meta'

  /locations:
    get:
      summary: List locations
      description: Retrieve a list of locations
      operationId: listLocations
      tags:
        - Locations
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'

  /locations/{id}:
    get:
      summary: Get a location
      description: Retrieve a single location by ID
      operationId: getLocation
      tags:
        - Locations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Location'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '404':
          description: Location not found

  /invoices:
    get:
      summary: List invoices
      description: Retrieve a list of invoices with optional filters
      operationId: listInvoices
      tags:
        - Invoices
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, pending, paid, overdue, cancelled]
        - name: customer_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'

    post:
      summary: Create an invoice
      description: Create a new invoice
      operationId: createInvoice
      tags:
        - Invoices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customer_id
              properties:
                customer_id:
                  type: string
                  format: uuid
                company_id:
                  type: string
                  format: uuid
                due_date:
                  type: string
                  format: date
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      description:
                        type: string
                      quantity:
                        type: integer
                      unit_price:
                        type: number
      responses:
        '201':
          description: Invoice created

  /invoices/{id}:
    get:
      summary: Get an invoice
      description: Retrieve a single invoice by ID
      operationId: getInvoice
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Invoice'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '404':
          description: Invoice not found

  /invoices/{id}/pay:
    post:
      summary: Pay an invoice
      description: Mark an invoice as paid
      operationId: payInvoice
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_method:
                  type: string
      responses:
        '200':
          description: Invoice paid
        '404':
          description: Invoice not found

  /events:
    get:
      summary: List events
      description: Retrieve a list of events with optional filters
      operationId: listEvents
      tags:
        - Events
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, published, cancelled, completed]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'

    post:
      summary: Create an event
      description: Create a new event
      operationId: createEvent
      tags:
        - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - start_time
                - end_time
              properties:
                title:
                  type: string
                description:
                  type: string
                start_time:
                  type: string
                  format: date-time
                end_time:
                  type: string
                  format: date-time
                venue:
                  type: string
                max_attendees:
                  type: integer
                price:
                  type: number
                is_public:
                  type: boolean
      responses:
        '201':
          description: Event created

  /events/{id}:
    get:
      summary: Get an event
      description: Retrieve a single event by ID
      operationId: getEvent
      tags:
        - Events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Event'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '404':
          description: Event not found

  /plans:
    get:
      summary: List plans
      description: Retrieve a list of membership plans
      operationId: listPlans
      tags:
        - Plans
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Plan'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'

    post:
      summary: Create a plan
      description: Create a new membership plan
      operationId: createPlan
      tags:
        - Plans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - price
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
                currency:
                  type: string
                billing_cycle:
                  type: string
                  enum: [monthly, yearly]
      responses:
        '201':
          description: Plan created

  /plans/{id}:
    get:
      summary: Get a plan
      description: Retrieve a single plan by ID
      operationId: getPlan
      tags:
        - Plans
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Plan not found

    patch:
      summary: Update a plan
      description: Partially update a plan
      operationId: updatePlan
      tags:
        - Plans
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
                is_active:
                  type: boolean
      responses:
        '200':
          description: Plan updated
        '404':
          description: Plan not found

    delete:
      summary: Delete a plan
      description: Delete a membership plan
      operationId: deletePlan
      tags:
        - Plans
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Plan deleted
        '404':
          description: Plan not found

  /memberships:
    get:
      summary: List memberships
      description: Retrieve a list of memberships
      operationId: listMemberships
      tags:
        - Memberships
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, paused, cancelled, expired]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Membership'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'

    post:
      summary: Create a membership
      description: Create a new membership
      operationId: createMembership
      tags:
        - Memberships
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customer_id
                - plan_id
              properties:
                customer_id:
                  type: string
                  format: uuid
                plan_id:
                  type: string
                  format: uuid
                start_date:
                  type: string
                  format: date
      responses:
        '201':
          description: Membership created

  /memberships/{id}:
    get:
      summary: Get a membership
      description: Retrieve a single membership by ID
      operationId: getMembership
      tags:
        - Memberships
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Membership not found

    put:
      summary: Update a membership
      description: Update an existing membership
      operationId: updateMembership
      tags:
        - Memberships
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [active, paused, cancelled]
                end_date:
                  type: string
                  format: date
      responses:
        '200':
          description: Membership updated
        '404':
          description: Membership not found

    delete:
      summary: Delete a membership
      description: Delete a membership
      operationId: deleteMembership
      tags:
        - Memberships
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Membership deleted
        '404':
          description: Membership not found

  /benefits:
    get:
      summary: List benefits
      description: Retrieve a list of benefits
      operationId: listBenefits
      tags:
        - Benefits
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Benefit'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'

    post:
      summary: Create a benefit
      description: Create a new benefit
      operationId: createBenefit
      tags:
        - Benefits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                description:
                  type: string
                partner_name:
                  type: string
                discount_value:
                  type: string
                valid_from:
                  type: string
                  format: date
                valid_until:
                  type: string
                  format: date
      responses:
        '201':
          description: Benefit created

  /benefits/{id}:
    get:
      summary: Get a benefit
      description: Retrieve a single benefit by ID
      operationId: getBenefit
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Benefit not found

    put:
      summary: Update a benefit
      description: Update an existing benefit
      operationId: updateBenefit
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                is_active:
                  type: boolean
      responses:
        '200':
          description: Benefit updated
        '404':
          description: Benefit not found

    delete:
      summary: Delete a benefit
      description: Delete a benefit
      operationId: deleteBenefit
      tags:
        - Benefits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Benefit deleted
        '404':
          description: Benefit not found

  /feed:
    get:
      summary: List feed posts
      description: Retrieve a list of feed posts
      operationId: listFeedPosts
      tags:
        - Feed
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeedPost'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  meta:
                    $ref: '#/components/schemas/Meta'

    post:
      summary: Create a feed post
      description: Create a new feed post
      operationId: createFeedPost
      tags:
        - Feed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - content
              properties:
                title:
                  type: string
                content:
                  type: string
                is_published:
                  type: boolean
                is_pinned:
                  type: boolean
      responses:
        '201':
          description: Feed post created

  /feed/{id}:
    get:
      summary: Get a feed post
      description: Retrieve a single feed post by ID
      operationId: getFeedPost
      tags:
        - Feed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
        '404':
          description: Feed post not found

    put:
      summary: Update a feed post
      description: Update an existing feed post
      operationId: updateFeedPost
      tags:
        - Feed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                is_published:
                  type: boolean
                is_pinned:
                  type: boolean
      responses:
        '200':
          description: Feed post updated
        '404':
          description: Feed post not found

    delete:
      summary: Delete a feed post
      description: Delete a feed post
      operationId: deleteFeedPost
      tags:
        - Feed
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Feed post deleted
        '404':
          description: Feed post not found

tags:
  - name: Networks
    description: Network/merchant operations
  - name: Bookings
    description: Booking management
  - name: Companies
    description: Company management
  - name: Resources
    description: Resource management
  - name: Locations
    description: Location management
  - name: Invoices
    description: Invoice management
  - name: Events
    description: Event management
  - name: Plans
    description: Membership plan management
  - name: Memberships
    description: Membership management
  - name: Benefits
    description: Benefit management
  - name: Feed
    description: Feed post management
